<div class="container-css bg-color">
  <div class="comman-width d-flex justify-content-between align-items-center pd-top">
    <img src="assets/images/head-logo.png" />
    <ul class="d-flex m-4 list-unstyled gap-5 font-family">
      <li ><a>Exchange </a></li>
      <li><a>About</a></li>
      <li><a>Features</a></li>
    </ul>
    <div class="header-button d-flex gap-4">
      <button type="button" class="log-in">Log in</button>
      <button type="button" class="register btn-type">Register</button>
    </div>
  </div>
</div>
