<div class="bg-img bg-color">
  <div class="comman-width">
    <div class="row">
      <div class="col-5 content">
        <h1>Fastest and Easiest way to</h1>
        <span class="h1-contents">Buy, Sell & Trade</span>
        <p class="pr-120 pt-2">
          The place where you can trade cryptocurrencies with global market
          price
        </p>
        <div class="pt-3">
          <button type="button" class="btn-type">Get started</button>
        </div>
        <div class="row align-items-center pt-4">
          <div class="col-4">
            <div class="row align-items-center">
              <div class="col-3">
                <img src="assets/images/IMAGE (6).png" />
              </div>
              <div class="col-6">
                <span>Bitcoin</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row align-items-center gap-2">
              <div class="col-3">
                <img src="assets/images/ltc.png" />
              </div>
              <div class="col-6">
                <span>Etherium</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row align-items-center">
              <div class="col-3">
                <img src="assets/images/IMAGE (1).png" />
              </div>
              <div class="col-6">
                <span>Litcoin</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 position-relative d-flex pt-30">
        <img src="assets/images/Group 1 1.png" class="grp-27" />
        <img src="assets/images/Group 2 7.png" class="grp-11" />
        <img src="assets/images/Group 4788.png" class="grp-4788" />
        <img src="assets/images/Group 4792.png" class="grp-4792" />
        <img src="assets/images/Group 4790.png" class="grp-4790" />
      </div>
    </div>
  </div>
</div>
