<div class="bg-color padding-top">
  <div class="comman-width-1183">
    <div class="row align-items-center justify-content-between">
      <div class="col-6 col-xs-12">
        <img src="assets/images/security.png" class="col-6-img" />
      </div>
      <div class="col-4 col-xs-12">
        <h3>Highest Security And Safety</h3>
        <p class="pt-4">
          Folex cares about it's user assets by giving different security
          options to make them sure and feel free abo ut their assets, users can
          have all options together or choose only one of them based on his own
          desire.
        </p>
      </div>
    </div>
  </div>
</div>
