<div class="bg-img bg-color pt-5">
  <div class="comman-width">
    <div class="row">
      <div class="col-4">
        <img src="assets/images/head-logo.png" class="footer-logo" />
      </div>
    </div>

    <div class="row justify-content-between pt-5">
      <div class="col-4 width">
        <h3>THE FUTURE OF TRADING</h3>
        <div class="pt-3">
          <input type="email" placeholder="Enter your email address" class="input" />
          <button type="button">SUBSCRIBE</button>
        </div>
      </div>
      <div class="col-6 pt width">
        <div class="row">
          <div class="col-4 width pt-ul">
            <h4>Company</h4>
            <ul class="list-unstyled pt-1">
              <li><a>About us</a></li>
              <li><a>How it works</a></li>
              <li><a>Features</a></li>
            </ul>
          </div>

          <div class="col-4 width pt-ul">
            <h4>Support</h4>
            <ul class="list-unstyled pt-1">
              <li><a>About us</a></li>
              <li><a>How it works</a></li>
              <li><a>Features</a></li>
            </ul>
          </div>

          <div class="col-4 width pt-ul">
            <h4>Others</h4>
            <ul class="list-unstyled pt-1">
              <li><a>About us</a></li>
              <li><a>How it works</a></li>
              <li><a>Features</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
