<div class="bg-color padding-top">
  <h2 class="text-center">
    World Class Trading <span class="color">Platform</span>
    </h2>
    <div class="row comman-width padding-top">
      <div class="col-4 col-sm-6 col-md-4  col-xs-12 mb-5 padd-right">
        <img src="assets/images/image 6.png" />
        <h5 class="pt-3">Exchange</h5>
        <p class="pt-3">
          Folex offers order books with top tier liquidity, allowing users to
          easily exchange Bitcoin, Ethereum, Litecoin and many other digital
          assets with minimal slippage.
        </p>
      </div>
      <div class="col-4 col-sm-6 col-md-4  mb-5 padd-right">
        <img src="assets/images/image 6 (1).png" />
        <h5 class="pt-3">Margin Funding</h5>
        <p class="pt-3">
          Folex offers order books with top tier liquidity, allowing users to
          easily exchange Bitcoin, Ethereum, Litecoin and many other digital
          assets with minimal slippage.
        </p>
      </div>

      <div class="col-4 col-sm-6 col-md-4  mb-5 padd-right">
        <img src="assets/images/image 6 (2).png" />
        <h5 class="pt-3">Margin Trading</h5>
        <p class="pt-3">
          Folex offers order books with top tier liquidity, allowing users to
          easily exchange Bitcoin, Ethereum, Litecoin and many other digital
          assets with minimal slippage.
        </p>
      </div>
      <div class="col-4 col-sm-6 col-md-4  mb-5 padd-right">
        <img src="assets/images/image 6 (3).png" />
        <h5 class="pt-3">Order Types</h5>
        <p class="pt-3">
          Folex offers order books with top tier liquidity, allowing users to
          easily exchange Bitcoin, Ethereum, Litecoin and many other digital
          assets with minimal slippage.
        </p>
      </div>

      <div class="col-4 col-sm-6 col-md-4  mb-5  padd-right">
        <img src="assets/images/image 6 (4).png" />
        <h5 class="pt-3">Customizable Interface</h5>
        <p class="pt-3">
          Folex offers order books with top tier liquidity, allowing users to
          easily exchange Bitcoin, Ethereum, Litecoin and many other digital
          assets with minimal slippage.
        </p>
      </div>

      <div class="col-4 col-sm-6 col-md-4  mb-5  padd-right">
        <img src="assets/images/image 6 (5).png" />
        <h5 class="pt-3">Security</h5>
        <p class="pt-3">
          Folex offers order books with top tier liquidity, allowing users to
          easily exchange Bitcoin, Ethereum, Litecoin and many other digital
          assets with minimal slippage.
        </p>
      </div>
    </div>
  
</div>
