<div class="bg-color padding-top">
  <div class="comman-width">
    <div class="row align-items-center padding-bottom">
      <div class="col-6 width col-xs ">
        <h2>Folex Download</h2>
        <h3 class="pt-5 w-75">Start Your Cryptocurrency Journey Today</h3>
        <p class="color">First Exchange Trading APP in the world</p>
        <p>
          Folex has a variety of features that make it an ideal place to buy and
          sell digital assets
        </p>
        <div>
          <ul>
            <li>Manage your Assets</li>
            <li>Access to international users all around the world</li>
            <li>Secure Storage</li>
          </ul>
        </div>

        <h4>Secure Storage</h4>
        <p>
          Deposit, withdraw and trade 24/7 on our mobile apps for Android and
          IOS
        </p>
      </div>
      <div class="col-6 width col-xs padding-left d-flex justify-content-center">
        <div class="border-radius row">
            <div class="col-6">
                <img src="assets/images/Phone.png" class="img rotate" />
            </div>
            <div class="col-6">
                <img src="assets/images/Phone.png" class="img rotate-1" />
            </div>
        </div>
    </div>
    
    </div>
  </div>
</div>
