<div class="features-container bg-color">
  <div class="features">
    <p class="text-center p-h2 pt-5">Coming soon features</p>

    <div class="comman-width pt">
      <div class="row justify-content-center gap-5">
        <div class="col-lg col-xs-12 col-sm-3 box">
            <img src="assets/images/Group (1).png">
            <p class="pt-5">Buy with credit card</p>
        </div>
        <div class="col-lg col-xs-12 col-sm-3 box">
            <img src="assets/images/IMAGE (2).png">
            <p class="pt-5">Buy with credit card</p>
        </div>
        <div class="col-lg col-xs-12 col-sm-3 box">
            <img src="assets/images/IMAGE (3).png">
            <p class="pt-5">Buy with credit card</p>
        </div>
        <div class="col-lg col-xs-12 col-sm-3 box">
            <img src="assets/images/IMAGE (4).png">
            <p class="pt-5">Buy with credit card</p>
        </div>
        <div class="col-lg col-xs-12 col-sm-3 box">
            <img src="assets/images/IMAGE (5).png">
            <p class="pt-5">Buy with credit card</p>
        </div>
      </div>
    </div>
  </div>
</div>
