<div class="bg-color padding-top">
  <div class="comman-width">
    <h2 class="text-center"> How it works?</h2>
    <div class="row padding-top-1">
      <div class="col-4">
        <div class="row align-items-center">
          <div class="col-6">
            <h2 class="d-flex   f-99 font-family">01</h2>
          </div>
          <div class="col-6">
            <h4>Free Signup</h4>
          </div>
        </div>

        <p>
          Create a new account here if you dont have one or login here with your
          username and password if you are a registered user.
        </p>
      </div>
      <div class="col-4 mb-5 position-relative">
        <div class="row align-items-center">
          <div class="col-6">
            <h2 class="d-flex   f-99 font-family">02</h2>
          </div>
          <div class="col-6">
            <h4>KYC Verification</h4>
          </div>
        </div>

        <p>Verify your identity and get ready for Start.</p>
      </div>
      <div class="col-4">
        <div class="row align-items-center">
          <div class="col-6">
            <h2 class="f-99 font-family">03</h2>
          </div>
          <div class="col-6">
            <h4>Start Trade</h4>
          </div>
        </div>

        <p>
          Purchase, Redeem or Transfer or Assets and Digital Assets with US,
          send, trade or hold your stablecoins everywhere in the world.
        </p>
      </div>
    </div>
  </div>
</div>
